// Event Banner
html {
  background-color: black;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.event-banner {
  height: 370px;
  position: relative;
  background-color: grey;
}

.event-title h1 {
  text-transform: uppercase;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 74px;
  margin: 0;
  padding: 5px;
  background-color: rgb(20,20,20);
}

.event-banner img {
  padding: 15px;
  width: 100px;
}

.event-banner .navbar-spotter {
  display: flex;
  justify-content: space-between;
}

// Event Information
.event-information {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  background-color: #F3F3F3;
}

.event-information-left {
  flex: 3;
  height: 100%;
  width: 250px;
  display: flex;
}

.event-information-middle {
  flex: 3;
  height: 100%;
  width: 250px;
  display: flex;
}

.event-information-right {
  flex: 3;
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.left-block {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-block {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.top-block {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 45px;
}

.top-block-center {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}

.bottom-block {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 30px;
}

.bottom-block-center {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 42px;
}

.event-information p {
  font-size: 15px;
}

.event-participants {
  width: auto;
  display: inline-block;
}

.event-participants p {
  padding: 10px;
}

.event-participant-picture {
  display: inline-block;
}

.event-participant-picture img {
  padding: 0px;
  margin: 0px 10px;
}

.event-participant-picture img:hover {
  border: 1px solid #CCCCCC;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

// Event Description

.event-description {
  padding: 30px;
}

.event-owner {
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 padding: 30px;
}

.event-owner-content a:hover {
  text-decoration: none;
}

.event-owner-content p:first-child {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 12px;
  padding-top: 10px;
}

.map {
  margin: 20px auto;
  height: 300px;
  width: 70%;
}

// Footer
.footer {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer p {
  color: white;
  font-size: 13px;
}

.footer p:last-child {
  opacity: 0.4;
}

// Mobile View
@media (max-width: 768px) {
  .event-information {
    flex-direction: column;
    height: 600px;
  }
  .map {
    width: 100%;
  }
  .map img {
    width: 100%;
    height: 100%;
  }
}
