<div class="footer">
  <p class="poppins text-center">“One man can be a crucial ingredient on a team, but one man cannot make a team.” - Kareem Abdul-Jabbar (NBA)</p>
  <p class="poppins text-center">Made with love by Emily, Audrey, Mathieu and Sebastien</p>
</div>
