<ol><li>This app is intended first and foremost as a pedagogical exercise and is not in any way intended for commercial purposes.</li>
<li>We only show data obtained from a user access token on the devices associated with that token.</li>
<li>If we cache data received from Facebook, it will only be used to improve our app’s user experience and keep the app up to date.</li>
<li>We do not proxy, request or collect Facebook usernames or passwords.</li>
<li>We keep private your secret key and access tokens.</li>
<li>We use no partner services.</li>
<li>We do not contract with any providers who help build or run our app. User IDs are kept secure and confidential, and under our control. If we ever need an anonymous unique identifier to share with third parties, we will use Facebook’s mechanism.</li>
<li>We will never sell, license, or purchase any data obtained from Facebook or Facebook services.</li>
<li>We will not willingly transfer any data that has been received from Facebook (including anonymous, aggregate, or derived data) to any ad network, data broker or other advertising or monetization-related service.</li>
<li>We will never willingly put Facebook data in a search engine or directory, or include web search functionality on Facebook.</li>
<li>If we are acquired by or merge with a third party, we will continue to use Facebook data only within the scope of our app.</li>
<li>If we cease to use the Platform, we will promptly delete all user data received from Facebook (absent explicit consent from people).</li>
<li>We do not willingly use friend data from Facebook to establish social connections in our app.</li>
<li>We will never willingly use data obtained from Facebook to make decisions about eligibility, including whether to approve or reject an application or how much interest to charge on a loan.</li>
<li>We will obtain consent before you giving Facebook information that we have independently collected from our users them.</li>
<li>Geolocalisation is optional. If we ever track a person's activity, we will provide an opt-out from that tracking.</li>
<li>We will aim to provide meaningful customer support for our your app, and make it easy for people to contact you.</li></ol>
